.idea/*
*.pyc
__pycache__/*
/__pycache__/
/.static
/static
static/*
static/

venv/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

celerybeat-schedule.db/
rebar3

celerybeat-schedule\.db

htmlcov/*

.python-version:
secret_key.py